
html{
    scroll-behavior: smooth;
}
header{
    width: 100vw;
    height: 100px;
    display: flex;
    flex-direction: row;
    margin-top: 40px;
}
h1{
    width: 300px;
    padding-left: 50px;
}
ul{
    width: 900px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style: none;
}
a{
    text-decoration: none;
    padding-right: 20px;
    color: black;
}
.about__me--content{
    margin-top: 130px;
    margin-left: 4%;
    text-align: center;
}
#avatar{
    height: 100px;
    padding-left: 10px;
}
.hero-banner{
    position: relative;
    text-align: center;
}
.subtitle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.banner{
    width: 100vw;
    height: 100px;
    background-color: #588157;
}
main{
    display: grid;
    grid-template-columns: 1268px;
    grid-template-rows: auto;
    margin: 20px
}
.page-section{
    display: flex;
    flex-direction: row;
}
.left-container{
    width: 300px;
    border-right: #588157 solid;
    margin-top: 30px;
}
h2{
    float: right;
    padding-right: 50px;
    color: aliceblue;
}
.page-section h2{
    color: black;
}
.gallery{
    margin: 0;
    margin-top: 20px;
    padding: 0;
    width: 968px;
    display: grid;
    grid-template-columns: repeat(4fr, 30px);
    grid-template-rows: repeat(4fr, 20px);
}
.gallery__item{
    background-color: #588157;
    padding: 10px;
    margin: 20px;
    position: relative;
}
.gallery__image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.33;
}
.gallery__item--1{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}
.gallery__item--2{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 3;
}
.gallery__item--3{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 3;
}
.gallery__item--4{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 4;
}
.gallery__item--5{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 4;
}
.gallery__image--descriptor{
    position: absolute;
    bottom: 20px;
    margin-left: 10px;
    background-color: #588157;
    width: 150px;
    color: antiquewhite;
}
.gallery__smallimage--descriptor{
    position: absolute;
    bottom: 20px;
    margin-left: 10px;
    background-color: #588157;
    width: 165px;
    color: antiquewhite;
    padding: 5px;
}
.contact__container{
    justify-content: center;
}
.contact__links li{
    margin-top: 20px;
    bottom: 0;
    margin-right: 70px;
}
.gallery__image:hover{
    opacity: 1;
    transition: ease-in-out 0.2s;
    cursor: pointer;
}
@media only screen and (max-width: 768px){
    *{
        max-width: 100%;
        height: auto;
        text-align: left;
        left: 0;
    }
    body{

    }
    h1{
        width: 300px;
    }
    h2{
        position: relative;
        width: auto;
        float: left;
    }
    .banner{
        width: 100%;
    }
    nav{
        width: auto;
    }
    .page-section{
        display: flex;
        flex-direction: column;
    }
    .left-container{
        width: 300px;
        border-right: none;
        border-bottom: #588157 solid;
        margin-top: 30px;
    }
    nav ul{
        display: none;
    }
    .subtitle{
        width: 600px;
        text-align: center;
    }
    #about{
        display: flex;
        flex-direction: column;
    }
    .about__me--content{
        max-width: 100%;
        left: 0;
        position: relative;
        text-align: left;
        float: left;
        margin-top: 50px;
        margin-left: 70px;

    }
    #my_avatar{
        max-width: 100%;
        height: auto;
    }
    .gallery{
        display: flex;
        flex-direction: column;
        width: 600px;
    }
    .gallery__item{
        width: auto;
        padding: auto;
    }
    #section4{
        display: flex;
        flex-direction: column;
    }
    .contact__links{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}